[submodule "Western Goods Core"]
	path = Western Goods Core
	url = https://github.com/nltp-ashes/Western-Goods-Core

[submodule "Western Goods Food"]
	path = Western Goods Food
	url = https://github.com/nltp-ashes/Western-Goods-Food

[submodule "Western Goods Drinks"]
	path = Western Goods Drinks
	url = https://github.com/nltp-ashes/Western-Goods-Drinks
[submodule "Western Goods Currencies"]
	path = Western Goods Currencies
	url = https://github.com/nltp-ashes/Western-Goods-Currencies
