[submodule "Western Goods Core"]
	path = Western Goods Core
	url = https://github.com/nltp-ashes/Western-Goods-Core

[submodule "Western Goods Food"]
	path = Western Goods Food
	url = https://github.com/nltp-ashes/Western-Goods-Food

[submodule "Western Goods Drinks"]
	path = Western Goods Drinks
	url = https://github.com/nltp-ashes/Western-Goods-Drinks

[submodule "Western Goods Currencies"]
	path = Western Goods Currencies
	url = https://github.com/nltp-ashes/Western-Goods-Currencies

[submodule "Western Goods Devices"]
	path = Western Goods Devices
	url = https://github.com/nltp-ashes/Western-Goods-Devices

[submodule "Western Goods Readables"]
	path = Western Goods Readables
	url = https://github.com/nltp-ashes/Western-Goods-Readables

[submodule "Western Goods Storylines"]
	path = Western Goods Storylines
	url = https://github.com/nltp-ashes/Western-Goods-Storylines

[submodule "Western Goods NPCs"]
	path = Western Goods NPCs
	url = https://github.com/nltp-ashes/Western-Goods-NPCs

[submodule "Western Goods Flea"]
	path = Western Goods Flea
	url = https://github.com/nltp-ashes/Western-Goods-Flea

[submodule "Western Goods Guides"]
	path = Western Goods Guides
	url = https://github.com/nltp-ashes/Western-Goods-Guides
